body{
    background-color: #E5E4F7;
    text-align: center;
}
button{
    color: green;
}
input{
    size: 30px;
}
p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
}
h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.meu-quadrado {
  width: 10000px;
  height: 100px;
  background-color: #1909eb; /* Cor de fundo */
}
